@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

[v-cloak] {
  display: none;
}

body {
  background-color: whitesmoke;
  background-image: url(img/4853433.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;

  color: rgb(49, 49, 49);

  font-size: medium;
  font-weight: normal;
  font-family: "Comfortaa", cursive;
}

.container {
  width: 95%;
  height: 110%;
  margin: auto;
}

header {
  background-color: rgba(252, 250, 250, 0.822);
  text-align: center;
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0 5px 20px rgba(26, 26, 26, 0.418);

  position: relative;
}

.search {
  padding: 5px;

  font-family: inherit;
  margin-bottom: 60px;

  position: absolute;
  right: 20px;
}

.filterBox {
  position: absolute;
  left: 20px;
}

.filter,
.filterButton {
  padding: 5px;
}

.filter {
  min-width: 100px;
  height: 30px;

  text-align: center;
  font-family: inherit;
  border-radius: 10px;
  outline: none;
}

.filterButton {
  height: 30px;
  width: 90px;
  margin-left: 5px;

  font-family: inherit;

  border: solid 1px rgba(0, 0, 0, 0.466);
  border-radius: 40px;
  background-color: rgb(240, 234, 226);

  transition-duration: 0.5s;
}

.filter:hover,
.filterButton:hover {
  cursor: pointer;
}

.filterButton:hover {
  background-color: black;

  color: white;
}

.filterButton:active {
  background-color: white;

  color: black;

  transition-duration: 0s;
}

.flexBox {
  /* border: 1px solid rgb(43, 0, 145); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.newTask,
.addTask {
  background-color: rgb(240, 234, 226);
  position: relative;
  height: 170px;
  padding: 15px 3%;
  border-radius: 10px;
  box-shadow: 5px 4px 12px rgba(26, 26, 26, 0.678);
  border: rgba(49, 49, 49, 0.404) solid 1px;

  transition-duration: 0.8s;
}

.addTask {
  min-height: 200px;
  width: 100%;
  height: 100%;
  font-size: 100px;
}

.newTask:hover {
  cursor: pointer;
  margin: 15px 15px -15px 15px;
}

.addTask:hover {
  cursor: pointer;
  margin-left: 20px;
  background-color: black;
  color: aliceblue;
}

.addTask:focus {
  margin-top: 1000px;
  transition-delay: 0.1s;
}

.qwerty {
  margin-top: 1000px;
  transition-duration: 0.7s;
  transition-delay: 0.3s;
}

.newTask:active {
  margin: 25px 25px -50px 25px;
  background-color: black;
  color: aliceblue;
  transition-duration: 0.3s;
}

.newTask h3 {
  text-align: center;
}

.name {
  text-align: center;
}

.content {
  margin-bottom: 30px;
}

.content p:first-child {
  float: left;
}

.content p:last-child {
  float: right;
}

.date {
  float: left;
}

.user {
  float: right;
}

.separate {
  clear: both;
}

.state {
  position: absolute;
  bottom: 5px;
  right: 18px;
}

.state p {
  float: right;
}

.popIt {
  position: fixed;
  background-color: rgb(240, 234, 226);
  width: 600px;
  height: 500px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 20px;
  display: block;
}

.nameBox,
.dateBox,
.userBox,
.descBox,
.stateBox {
  font-size: 20px;
  margin: 30px 50px 15px 30px;
}

.stateBox {
  margin-top: 0;
}

.nameNew,
.dateNew,
.userNew,
.descriptionNew {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: black solid 1px;
  padding: 10px 10px 0px 10px;
  outline: none;

  font-family: inherit;
  font-size: 16px;
}

.descriptionNew {
  height: 100px;
  border: rgba(0, 0, 0, 0.322) solid 1px;
  border-radius: 20px;
}

.stateNew {
  margin-top: 5px;
  margin-left: 10px;
  font-family: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;

  transition-duration: 0.5s;
}

.stateNew:hover,
.delete:hover,
.cancer:hover,
.apply:hover {
  cursor: pointer;
}

.buttonBox {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.delete,
.cancer,
.apply {
  font-size: 15px;
  font-family: inherit;
  padding: 10px;
  border-radius: 100px;

  margin-left: 5px;

  border: none;
  background-color: white;
  color: black;

  transition-duration: 0.5s;
}

.stateNew:hover,
.delete:hover,
.cancer:hover,
.apply:hover {
  background-color: black;
  color: white;
}

.delete:hover {
  color: crimson;
}

.apply:hover {
  color: aquamarine;
}

.cancer:hover {
  color: white;
}

.attention,
.attentionDate {
  position: absolute;
  /* margin-left: 200px; */
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%);
  color: tomato;
  display: block;
}

.fogging {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.486);

  display: block;
}

.hide {
  display: none;
}
